.anime {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
.home {
  background-image: url("https://wallpaperaccess.com/full/302312.jpg");
  background-repeat: no-repeat;
  min-height: 90vh;
  background-size: cover;
}
.trailer {
  margin-left: auto;
  margin-right: auto;
}

.link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: grey;
  height: 80px;
}
.input {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}
.img {
  margin-left: auto;
  margin-right: auto;
  width: 470px;
  height: 700px;
  margin-top: 20px;
}
* {
  font-family: cursive;
}
h1,
h2 {
  width: 470px;
  margin-left: auto;
  margin-right: auto;
}
.click {
  display: flex;
  justify-content: space-evenly;
}
